<% if current_user %>
<% content_for :head do %>

<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<style type="text/css">
  html { height: 100% }
  body { height: 100%; margin: 0px; padding: 0px }
  #map_canvas { width:100%; height: 100% }
</style>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
<script type="text/javascript">

var MAX_BOMB_TIME = 60*10*1000; // in milliseconds
var TICK_INTERVAL = 1000; // in milliseconds
var BOMB_RADIUS = <%= BOMB_RADIUS * 1000 %>; // in meters
var map;
var zIndexTop = 0;
var allPlayers = [<%- @players.each do |user| -%>
  <%- if @players.first != user -%>,<%- end -%>
  [<%= user.latitude %>, <%= user.longitude %>, "<%= user.name %>", <%= user.facebook_id %>, "<%= user.deadtime %>"]
<%- end -%>];
var allBombs = [<%- @bombs.each do |bomb| -%>
  <%- if !bomb.isExploded? -%>
    [<%= bomb.latitude %>, <%= bomb.longitude %>, <%= bomb.timeLeft * 1000 %>],
  <%- end -%>
<%- end -%>];

function haversineDistance(lat1, lon1, lat2, lon2) {
  var R = 6371 * 1000; // meters
  var dLat = (lat2-lat1) * Math.PI / 180;;
  var dLon = (lon2-lon1) * Math.PI / 180;;
  var a = Math.sin(dLat/2) * Math.sin(dLat/2) + Math.cos(lat1 * Math.PI / 180) * Math.cos(lat2 * Math.PI / 180) * Math.sin(dLon/2) * Math.sin(dLon/2);
  var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a));
  var d = R * c;
}

function createButton() {
  var controlDiv = document.createElement('DIV');
  controlDiv.style.padding = '5px';
  controlDiv.innerHTML = "<img src='/images/restart.png'>";
  controlDiv.style.display = "none";
  google.maps.event.addDomListener(controlDiv, 'click', function() {
    pushData = new Image();
    pushData.src = "/game/restart";
    window.location.reload(true);
  });
  map.controls[google.maps.ControlPosition.BOTTOM_LEFT].push(controlDiv);
  return controlDiv;
}

function initialize() {
  console.log("initialize called");
  var mapOptions = {
    zoom: 16,
    mapTypeId: google.maps.MapTypeId.TERRAIN,
    navigationControl: false,
    mapTypeControl: false,
    streetViewControl: false
  };
  map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
  setMapLocation();
  drawAllPlayers();
  drawAllBombs();
  setTimeout("zOrderRotator()", 2500);
  var controlDiv = createButton();
  <%- if current_user.deadtime -%>
    controlDiv.style.display = "block";
  <%- end -%>
}

function zOrderRotator() {
  //console.log("Rotating zOrder with zIndexTop = " + zIndexTop);
  zIndexTop++;
  for (i = 0; i < allPlayers.length; ++i) {
    var zIndex = (i + zIndexTop) % allPlayers.length + 1;
    if (allPlayers[i][4] != "")
      continue;
    allPlayers[i][5].setZIndex(zIndex);
  }
  setTimeout("zOrderRotator()", 2500);
}

function tick(i) {
  console.log("tick called: " + i + " with " + allBombs[i][2] + "ms remaining.");
  allBombs[i][2] -= TICK_INTERVAL;
  if (allBombs[i][2] > 0) {
    allBombs[i][3].setVisible(!allBombs[i][3].getVisible());
    var tmpTime = allBombs[i][2];
    if (tmpTime > MAX_BOMB_TIME)
      tmpTime = MAX_BOMB_TIME;
    var green = Math.round(255 * tmpTime / MAX_BOMB_TIME).toString(16);
    if (green.length <= 1)
      green = "0" + green;
    var red = Math.round(255 - 255 * tmpTime / MAX_BOMB_TIME).toString(16);
    if (red.length <= 1)
      red = "0" + red;
    var fillC = "#" + red + green + "00";
    //console.log("fillC in tick is " + fillC);
    allBombs[i][4].setOptions({
      fillColor: fillC,
      strokeColor: fillC
    });
    var timeoutStatement = "tick(" + i + ")";
    setTimeout(timeoutStatement, TICK_INTERVAL);
  } else {
    allBombs[i][4].setMap(null);
    allBombs[i][3].setIcon("/images/explosion.gif");
    allBombs[i][3].setVisible(true);
    window.location.reload(true);
  }
}

function placeBomb(location, i) {
  console.log("placing bomb at: " + location);

  var bomb = new google.maps.Marker({
    position: location,
    map: map,
    title: "Bomb",
    icon: "/images/litBomb.gif",
    zIndex: 0.5
  });
  var fillColor = "#00FF00";
  var bombFallout = new google.maps.Circle({
    map: map,
    center: bomb.getPosition(),
    fillColor: fillColor,
    fillOpacity: 0.2,
    strokeColor: fillColor,
    strokeOpacity: 0.8,
    strokeWeight: 2,
    radius: BOMB_RADIUS
  });
  console.log("drew bomb " + i + " at (" + location.lat() + "," + location.lng() + ")");
  allBombs[i][3] = bomb;
  allBombs[i][4] = bombFallout;
  var timeoutStatement = "tick(" + i + ")";
  console.log("setting timeout with statement: " + timeoutStatement);
  setTimeout(timeoutStatement, TICK_INTERVAL);
}

function drawAllBombs() {
  console.log("drawAllBombs called");
  for (i = 0; i < allBombs.length; ++i) {
    var location = new google.maps.LatLng(allBombs[i][0], allBombs[i][1]);
    if (allBombs[i][2] > 0) {
      placeBomb(location, i);
    }
  }
}

function drawAllPlayers() {
  console.log("drawAllPlayers called");
  for (i = 0; i < allPlayers.length; ++i) {
    if (allPlayers[i][4])
      icon = "/images/tombstone.gif";
    else
      icon = "http://graph.facebook.com/" + allPlayers[i][3] + "/picture";
    var location = new google.maps.LatLng(allPlayers[i][0], allPlayers[i][1]);
    var marker = new google.maps.Marker({
      position: location,
      map: map,
      title: allPlayers[i][2],
      //icon: "http://jeffhuang.com/personIcon.png",
      icon: icon, //"http://graph.facebook.com/" + allPlayers[i][3] + "/picture",
      zIndex: 0
    });

    console.log("user " + i + " has been alive <%= Time.now - current_user.createtime %>");

    allPlayers[i][5] = marker;

    google.maps.event.addListener(marker, 'click', function() {
      var playerInfoWindow = new google.maps.InfoWindow({
        content: this.getTitle()
      });
      playerInfoWindow.open(map, this);
    });

    console.log("drew player " + i + " at (" + location.lat() + "," + location.lng() + ")");
  }
}

function createBomb(location) {
  console.log("creating bomb at: " + location);

  var marker = new google.maps.Marker({
    position: location,
    map: map,
    title: "Drop this bomb anywhere!",
    icon: "/images/dragBomb.png",
    draggable: true,
    zIndex: 100000
  });
  <%- if Time.now - current_user.createtime < 1000 -%>
    var infoWindow = new google.maps.InfoWindow({
      content: "Drag your bomb to where you want to drop it, and then double-click to light the fuse!"
    });
    infoWindow.open(map, marker);
  <%- end -%>
  google.maps.event.addListener(marker, "dragend", function() {
    console.log("bomb moved to " + marker.getPosition());
  });
  google.maps.event.addListener(marker, "dblclick", function() {
    marker.setMap(null);
    var bombLat1 = marker.getPosition().lat();
    var bombLng1 = marker.getPosition().lng();
    var distance = haversineDistance(<%= current_user.latitude %>, <%= current_user.longitude %>, bombLat1, bombLng1);
    alert("distance: " + distance);
    var bombTime = 1000 * <%= clientCalcDuration %>;
    console.log("bombTime: " + bombTime);
    alert("bombTime: " + bombTime);
    allBombs.push([bombLat1, bombLng1, bombTime]);
    pushData = new Image();
    pushData.src = "/game/dropBomb?lat=" + marker.getPosition().lat() + "&lng=" + marker.getPosition().lng();
    placeBomb(marker.getPosition(), allBombs.length-1);
  });
}

function gotPositionCallback(position) {
  console.log("gotPositionCallback called");
  var initialLocation = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
  map.setCenter(initialLocation);
  <% if !current_user.deadtime and !current_user.bomb_id %>
    createBomb(initialLocation);
  <% end %>
}

function setMapLocation() {
  console.log("setMapLocation called");
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(gotPositionCallback,
      function(error) {
        alert("Geolocation failed: " + error.message);
      }, {timeout: 5000}
    );
    var watchId = navigator.geolocation.watchPosition(function(position) {
      pushData = new Image();
      pushData.src = "/game/playerMoved?lat=" + position.coords.latitude + "&lng=" + position.coords.longitude;
      console.log("your location has changed to (" + position.coords.latitude + "," + position.coords.longitude + ")");
      //window.location.reload(true);
    });
  } else {
    alert("No navigator.geolocation");
  }
}

window.onload = initialize;
</script>
<% end %>

<div id="map_canvas"></div>
<% end %>