<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :latitude %><br />
    <%= f.text_field :latitude %>
  </div>
  <div class="field">
    <%= f.label :longitude %><br />
    <%= f.text_field :longitude %>
  </div>
  <div class="field">
    <%= f.label :createtime %><br />
    <%= f.datetime_select :createtime %>
  </div>
  <div class="field">
    <%= f.label :deadtime %><br />
    <%= f.datetime_select :deadtime %>
  </div>
  <div class="field">
    <%= f.label :bomb_id %><br />
    <%= f.text_field :bomb_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
