<p id="notice"><%= notice %></p>

<p>
  <b>Latitude:</b>
  <%= @user.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%= @user.longitude %>
</p>

<p>
  <b>Createtime:</b>
  <%= @user.createtime %>
</p>

<p>
  <b>Deadtime:</b>
  <%= @user.deadtime %>
</p>

<p>
  <b>Bomb:</b>
  <%= @user.bomb_id %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
