<% if current_user %>
  <h1>This is a high scores page for War Games</h1>
    <table>
      <tr>
        <th>Name</th>
        <th>Top Score</th>
        <th>Current Score</th>
        <th>Current Hp</th>
        <th>Time for an attack from me to reach them</th>
      </tr>
    <% orderedScoreChart.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.top_score %></td>
        <td><%= sprintf("%1f",user.curScore(Time.now)) %></td>
        <td><%= sprintf("%.1f", user.hp) %></td>
        <td><%= sprintf("%.1f seconds",serverCalcDuration(current_user.distance_from(user, :units => :kms)*1000)) %></td>
      </tr>
    <% end %>
  </table>
<% end %>
