<!DOCTYPE html>
<html>
  <head>
    <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  <title><%= GAME_NAME %></title>
  <%= csrf_meta_tag %>
  <%= yield :head %>
</head>
<body>
    <%- if user_signed_in? %>
      <%= yield %>
    <%- else %>
      <style type="text/css">
      body { background-color: black; background-image:url("/images/ScorchedWorld.jpeg"); background-repeat:no-repeat; color: orange; font-family: sans-serif; }
      </style>
      <h2>Welcome to <%= GAME_NAME %></h2>
      <a href="<%= user_oauth_authorize_url(:facebook) %>"><img src="/images/login.png"></a>
    <%- end %>
  <% if false %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  <% end %>
</body>
</html>
