<!DOCTYPE html>
<html>
<head>
  <title>Plato</title>
  <%= csrf_meta_tag %>
  <%= yield :head %>
</head>
<body>
    <%- if user_signed_in? %>
      <%= yield %>
    <%- else %>
      <style type="text/css">
      body { background-image:url("/images/ScorchedWorld.jpeg"); background-repeat:no-repeat; }
      </style>r
      <%= link_to 'Sign in with Facebook', user_oauth_authorize_url(:facebook) %>
    <%- end %>
  <% if false %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  <% end %>
</body>
</html>
